/* 🌍 Estilos Globales */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://i.pinimg.com/736x/82/df/35/82df351ab5d660c23be331d3b2034e95.jpg');
  background-size: cover;
  background-position: center;
  color: #333;
  position: relative;
}

#root::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(150, 5, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(25px);
  z-index: -1;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}



.navbar-container {
  background-color: #879fb8;
  padding: 9px;
  border-bottom: 2px solid #ddd;
}


.sidebar-container {
  width: 250px;
  height: 100vh;
  background-color: #acbecf;
  padding: 10px;
  border-right: 2px solid #2e0b0b;
  position: fixed;
  left: 0;
  top: 0;
}


.alerts-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}